* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
}

.title {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.section {
  display: flex;
  justify-content: center;
  padding-bottom: 0.5rem;
}

.btn {
  margin-left: 1rem;
  padding: 0.25rem;
}

.flexbox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
  height: 100vh;
  overflow: hidden;

  margin: 0 auto;
  padding: 15px;
}

.flexbox .board {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 275px;
  background-color: #0079bf;
  padding: 15px;
}

.flexbox .board .card {
  padding: 15px 25px;
  background-color: #f3f3f3;
  cursor: pointer;
  margin-bottom: 15px;
}
